<!DOCTYPE html>
<html>
  <head>
  <title>mini app</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style type="text/css" href="./style.css"></style>

   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
     <nav class="light-blue accent-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">mini app</a>
          <% if user_signed_in? %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
              <li><a href="/tweets/new">New</a></li>
            </ul>
          <% else %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to "Sigin", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "Sigup", new_user_registration_path, class: 'post' %></li>
            </ul>
          <% end %>
      </nav>
    </header>
    <script type="text/javascript" src="./app.js"></script>
    <%= yield %>
  </body>
</html>
